<section class="section-form-group" style="margin-top: 2rem;">

    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
        <mat-label>Filtrer</mat-label>
        <input type="text" matInput (keyup)="applySearchFilter($event)" #filterInput>
    </mat-form-field>
    <table id="transactions-table" mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-100">

        <ng-container matColumnDef="nomOperator">
            <th mat-header-cell *matHeaderCellDef> Nom marchant </th>
            <td mat-cell *matCellDef="let element"> {{element.nomMarchand}} </td>
        </ng-container>

        <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef> OPE </th>
            <td mat-cell *matCellDef="let element"> {{element.typeOperation | emptyOrNullNa}} </td>
        </ng-container>

        <ng-container matColumnDef="referenceBill">
            <th mat-header-cell *matHeaderCellDef> Reference </th>
            <td mat-cell *matCellDef="let element"> {{element.eveid | emptyOrNullNa}} </td>
        </ng-container>

        <ng-container matColumnDef="validfrom">
            <th mat-header-cell *matHeaderCellDef> Date paiement </th>
            <td mat-cell *matCellDef="let element"> {{element.validfrom | date}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Montant </th>
            <td mat-cell *matCellDef="let element"> {{element.amount| moneyFormat}} </td>
        </ng-container>

        <ng-container matColumnDef="statusTrans">
            <th mat-header-cell *matHeaderCellDef> Statut </th>
            <td mat-cell *matCellDef="let element"> {{element.statusTrans | removeUnderscore}} </td>
        </ng-container>

        <ng-container matColumnDef="divisionAdministratif">
            <th mat-header-cell *matHeaderCellDef> Compte credité </th>
            <td mat-cell *matCellDef="let element"> {{element.accountCredit}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <div style="display: flex;">
                    <button [disabled]="element.statusTrans != 'PROCESSING'" class="mat-elevation-z0" (click)="onValidateTransaction(element)" mat-stroked-button color="primary">
                        Valider
                    </button>
                    <button *ngIf="element.referenceBill && element.statusTrans != 'PROCESSING'" style="margin-left: 0.4rem;" class="mat-elevation-z0" (click)="onViewReceipt(element)" mat-stroked-button>
                        Imprimer
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Aucun resultat correspondant à la recherche : "{{filterInput.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</section>