<div style="position: relative">

    <h3 style="margin-bottom: 1rem"> {{isEditing ? 'Mettre à jour le' : 'Créer un nouveau'}} paramètre</h3>
    <form [formGroup]="formGroup">
        <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr 1fr; ">
            <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                <mat-label>Code</mat-label>
                <input formControlName="code" type="text" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                <mat-label>Valeur</mat-label>
                <input formControlName="value" type="text" matInput>
            </mat-form-field>
        </div>
        <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr; margin-top: 0.8rem;">
            <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                <mat-label>Description</mat-label>
                <input formControlName="description" type="text" matInput>
            </mat-form-field>
        </div>



        <div style="display: flex; justify-content: space-between; ">
            <button *ngIf="!isEditing" (click)="onCreateGeneralParameter()" mat-flat-button color="primary">Créer</button>
            <button *ngIf="isEditing" (click)="onEditGeneralParameter()" mat-flat-button color="primary">Mise à jour</button>
            <button mat-stroked-button [mat-dialog-close]>Quitter</button>
        </div>
    </form>

    <div class="loader-wrapper" *ngIf="isProcessing">
        <span class="circle-loader"></span>
    </div>

</div>