<div class="main-content">
    <form id="form-versement" [formGroup]="versementFormGroup" style="margin-bottom: 2rem;">

        <div role="main" style="background-color: #fff;">
            <h2 role="header">Versement à la caisse</h2>
            <section class="section-form-group" style="margin-top: 2rem">
                <h2 class="title">Identification du client</h2>
                <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr auto ; ">
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>N° Contribuable / NUI</mat-label>
                        <input formControlName="referenceOperator" type="text" matInput>
                    </mat-form-field>
                    <div style="display: flex">
                        <button (click)="onFindMerchantByReference($event)" style="align-self: flex-start;" mat-stroked-button color="warn">Rechercher</button>
                    </div>
                </div>


            </section>

            <section class="section-form-group" style="margin-top: 2rem">
                <h2 class="title">Informations du client</h2>
                <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr; ">
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Nom & prénoms de l'opérateur</mat-label>
                        <input formControlName="nomOperator" type="text" matInput>
                    </mat-form-field>
                </div>
                <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr 1fr; ">
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Profession / Secteur d'activité</mat-label>
                        <input formControlName="activity" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Adresse / Domicile</mat-label>
                        <input formControlName="adresseOperator" type="text" matInput>
                    </mat-form-field>
                </div>

            </section>
            <section class="section-form-group" style="margin-top: 2rem">
                <h2 class="title">Details de opération</h2>
                <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr ">
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Délégation</mat-label>
                        <input type="text" placeholder="Selectionner" [formControl]="delegationsFormControl" matInput [matAutocomplete]="delegations">
                        <mat-autocomplete #delegations="matAutocomplete" (optionSelected)="onDelegationSelected($event)">
                            <mat-option [title]="item.libelle" *ngFor="let item of filteredDelegations | async" [value]="item.code">
                                <span style="font-size: 0.85rem !important;">{{item.libelle}}</span>
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>
                </div>
                <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr 1fr; ">

                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Segment</mat-label>
                        <mat-select (selectionChange)="onTransportTypeChanged($event)" formControlName="segment">
                            <mat-option *ngFor="let item of transportTypes" [value]="item">
                                {{item | removeUnderscore}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Type de redevance</mat-label>
                        <mat-select (selectionChange)="onTypeOfFeesChanged($event)" formControlName="typeJustificatif">
                            <mat-option style="font-size: 0.8rem;" *ngFor="let item of typefeesList" [value]="item.libelle">
                                {{item.libelle}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
                <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr 1fr; ">

                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Libellé de paiement</mat-label>
                        <input type="text" placeholder="Selectionner" matInput [formControl]="paymentFeesListFormControl" [matAutocomplete]="libelle">
                        <mat-autocomplete (optionSelected)="onPaymentCategorySelected($event)" #libelle="matAutocomplete">
                            <mat-option *ngFor="let item of filteredPaymentFeesList | async" [value]="item.libelle">
                                <span style="font-size: 0.85rem !important;">{{item.libelle}}</span>
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Code </mat-label>
                        <input formControlName="codeReason" type="text" matInput>
                    </mat-form-field>
                </div>
                <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr 1fr 1fr; ">
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Catégorie</mat-label>
                        <mat-select formControlName="categorieJustificatif">
                            <mat-option *ngFor="let item of typefeeClassList" [value]="item.code">
                                {{item.libelle}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Partie versante</mat-label>
                        <input formControlName="partieVersante" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Téléphone</mat-label>
                        <input formControlName="telephone" type="text" matInput>
                    </mat-form-field>
                </div>

                <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr 1fr 1fr; ">
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Montant à verser</mat-label>
                        <input (change)="onMontantChanged()" formControlName="montantVerse" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Montant payé</mat-label>
                        <input (change)="onMontantChanged()" formControlName="montantPercu" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Montant à rembourser</mat-label>
                        <input formControlName="montantRemb" value="0" type="text" matInput>
                    </mat-form-field>
                </div>
                <div style="display: grid; gap: 0.7rem; grid-template-columns: 1fr ; ">
                    <mat-form-field appearance="fill" [style.fontSize.px]="12" [style.width.%]="100">
                        <mat-label>Détails</mat-label>
                        <textarea formControlName="details" type="text" matInput style="resize: none;"></textarea>
                    </mat-form-field>

                </div>



                <!-- <button [disabled]="!versementFormGroup.valid" (click)="onInitVersement()" style="align-self: start; margin-bottom: 1rem;" mat-flat-button color="warn">Initier le versement</button> -->
                <button [disabled]="!versementFormGroup.valid" (click)="onInitVersement()" style="align-self: start; margin-bottom: 1rem;" mat-flat-button color="warn">Initier le versement</button>
            </section>
        </div>
        <div class="loader-wrapper" *ngIf="versementIsPensing">
            <span class="circle-loader"></span>
        </div>
    </form>
</div>