<mat-tab-group animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
            Type de redevances
        </ng-template>
        <app-type-of-fees-config></app-type-of-fees-config>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Libellé des frais
        </ng-template>
        <app-payment-fees-config></app-payment-fees-config>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Catégories
        </ng-template>
        <app-type-of-fees-class-config></app-type-of-fees-class-config>
    </mat-tab>

</mat-tab-group>